/* ==========================
   HOME PAGE
========================== */
.home-page {
    padding: 20px;
    text-align: center;
}

/* TITLE */
.home-page h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(21, 109, 53);
}

/* LIST */
.home-page ul {
    list-style: none;
    padding: 0;
}

/* LIST ITEMS */
.home-page ul li {
    margin: 10px 0;
}

/* LINKS */
.home-page ul li a {
    color: rgb(21, 109, 53);
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

/* HOVER EFFECT */
.home-page ul li a:hover {
    color: rgb(9, 96, 9);
    text-decoration: underline;
}