.slideshow {
  text-align: center;
  padding: 20px;
}

.slideshow h2 {
  margin-bottom: 15px;
  color: rgb(179, 106, 54);
}

.slide-image {
  width: 400px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

.slideshow p {
  font-weight: bold;
  margin-bottom: 15px;
}

/* BUTTONS */
.buttons {
  margin-top: 15px;
}

.buttons button {
  margin: 5px;
  padding: 10px 15px;
  background-color: rgb(179, 106, 54);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.buttons button:hover {
  background-color: rgb(140, 80, 40);
}