.footer {
  background-color: rgb(179, 106, 54);
  padding: 20px;
  text-align: center;
  color: white;
}

.footer hr {
  margin-bottom: 15px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin: 5px 0;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}