/* ==========================
   FOOTER (MATCH SITE THEME)
========================== */

.site-footer {
    background: rgb(179, 106, 54);
    padding: 20px 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 40px;
}

/* INNER CONTAINER */
.footer-inner {
    max-width: 800px;
    margin: 0 auto;
}

/* TEXT */
.footer-text {
    margin: 5px 0;
    color: rgb(228, 235, 231);
    font-size: 14px;
}

/* DIVIDER */
.footer-divider {
    border: none;
    border-top: 1px solid rgb(228, 235, 231);
    margin: 10px 0;
}

/* LINKS */
.footer-links a {
    color: rgb(242, 247, 245);
    text-decoration: none;
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
}

/* HOVER */
.footer-links a:hover {
    color: rgb(9, 96, 9);
    text-decoration: underline;
}