.navbar {
    background: rgb(179, 106, 54);
    padding: 15px;
    text-align: center;
}

/* NAV LIST RESET */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* INLINE ITEMS */
.nav-links li {
    display: inline;
}

/* SEPARATOR */
.nav-links li::after {
    content: "|";
    margin: 0 10px;
    color: black;
}

/* REMOVE LAST SEPARATOR */
.nav-links li:last-child::after {
    content: "";
}

/* LINKS */
.nav-links a {
    color: black;
    text-decoration: none;
}

/* HOVER */
.nav-links a:hover {
    text-decoration: underline;
}